/*

Portfolio made by Wei-Ming, Lai.
All rights reserved.

█     █             █     █           █          ███    ███████   █   █████
█ ░   █ ░           ██░  ██ ░         █ ░       █  ░█░    ░█░░░░░ █ ░█  ░░░░░
█ ░█  █ ░           █ █░█ █░░         █ ░       █ ░ █ ░    █ ░      ░█ ░
█ ░█ ░█ ░    █████  █ ░█░ █ ░         █ ░       █████ ░    █ ░        █████
█ █ █░█ ░      ░░░░░█ ░  ░█ ░         █ ░       █ ░░█░░    █ ░          ░░░█░
█ █ █ █ ░           █ ░   █ ░         █ ░       █ ░ █ ░    █ ░             █ ░
 █░ ░█░ ░█          █ ░   █ ░█        ███████   █ ░ █ ░ ███████       █████  ░
   ░   ░   ░          ░     ░  ░        ░░░░░░░   ░   ░   ░░░░░░░       ░░░░░

██████    █████   ██████   ███████  ███████   █████   █        ███████   █████
█ ░░░░█░ █  ░░░█░ █ ░░░░█░   ░█░░░░░█ ░░░░░░░█  ░░░█░ █ ░        ░█░░░░░█  ░░░█░
█ ░   █ ░█ ░   █ ░█ ░   █ ░   █ ░   █ ░      █ ░   █ ░█ ░         █ ░   █ ░   █ ░
██████  ░█ ░   █ ░██████  ░   █ ░   ██████   █ ░   █ ░█ ░         █ ░   █ ░   █ ░
█ ░░░░░░ █ ░   █ ░█ ░█░░░░    █ ░   █ ░░░░░░ █ ░   █ ░█ ░         █ ░   █ ░   █ ░
█ ░      █ ░   █ ░█ ░ █░      █ ░   █ ░      █ ░   █ ░█ ░         █ ░   █ ░   █ ░
█ ░       █████  ░█ ░  █░     █ ░   █ ░       █████  ░███████  ███████   █████  ░
  ░         ░░░░░   ░    ░      ░     ░         ░░░░░   ░░░░░░░  ░░░░░░░   ░░░░░

 █████    █████    █████        ███████  ███████  █        ███████
█  ░░░█░ █  ░░░░░ █  ░░░░░      █ ░░░░░░░  ░█░░░░░█ ░      █ ░░░░░░░
█ ░     ░█ ░      █ ░           █ ░         █ ░   █ ░      █ ░
█ ░       █████    █████        ██████      █ ░   █ ░      ██████
█ ░         ░░░█░    ░░░█░      █ ░░░░░░    █ ░   █ ░      █ ░░░░░░
█ ░   █        █ ░      █ ░     █ ░         █ ░   █ ░      █ ░
 █████  ░ █████  ░ █████  ░     █ ░      ███████  ███████  ███████
   ░░░░░    ░░░░░    ░░░░░        ░        ░░░░░░░  ░░░░░░░  ░░░░░░░

*/

blockquote {
  font-family: "Brush Script MT", "Lucida Handwriting", "Segoe Script", cursive;
  font-size: large;
}

.page {
  max-width: 860px;
  margin: 56px auto 0;
  padding: 0 28px;
}

header {
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 18px;
  /* margin-bottom: 24px; */
}

.headp {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.pfp {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #ccc;
}

.info h1 {
  font-size: 1.8em;
  margin: 0px;
}

.info h2 {
  font-size: 1.2em;
  margin-top: 5px;
  color: #555;
}

.info blockquote {
  font-style: italic;
  margin: 5px 0 0 0;
  padding: 0;
  color: #666;
}

.title {
  display: flex;
  align-items: center;
  gap: 10px;
}

.sect_line {
  flex: 1;
  height: 1px;
  background: #c9c9c9;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .04);
}

a.other {
  color: #2894FF;
  text-decoration: none;
}

a.other::after {
  content: "↗";
  color: #2894FF;
  text-decoration: none;
  margin-left: 4px;
  font-size: 0.9em;
}

a.other:hover {
  text-decoration: underline;
}

a.mail {
  color: #2894FF;
  text-decoration: none;
}

a.mail::before {
  content: "✉";
  color: #2894FF;
  text-decoration: none;
  margin: 0 4px 0 4px;
  font-size: 0.9em;
}

a.mail:hover {
  text-decoration: underline;
}

body {
  display: flex;
}

nav a {
  color: #2894FF;
  margin: 0 16px;
  text-decoration: none;
  display: block;
}

nav a:hover {
  text-decoration: underline;
}

.about p {
  margin-bottom: 0px;
}

.noteinfo {
  border: 1px solid #c9c9c9;
  border-left: 5px solid #2E6DB4;
  background: #fff;
  padding: 10px 12px;
  margin: 10px 0;
}

.items {
  margin: 16px 0;
  display: flex;
}

.era {
  color: #666;
  flex: 0 0 auto;
  width: 110px;
}

.einfo {
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 8px;
  font-size: 0.97rem;
}

td,
th {
  padding: 5px 8px;
  text-align: center;
}

thead th {
  border-bottom: 1.5px solid #c9c9c9;
  text-align: center;
}

.beforef {
  border-bottom: 1px solid #c9c9c9;
  padding-bottom: 18px;
  margin-bottom: 24px;
}

footer {
  clear: both;
  text-align: center;
}

section {
  margin: 30px 0 26px;
}

.about section {
  margin: 0px 0 26px 0;
}

tr,
th,
td {
  border: 1px solid black;

}

thead {
  background-color: #ddd;
  border-bottom: 1px solid black;
}

.popback {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.popbody {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 300px;
  text-align: center;
}

button {
  margin-top: 10px;
  background: white;
  border-radius: 8px;
  color: black;
  padding: 10px;
  font-size: 15px;
}

button:hover {
  margin-top: 10px;
  background: black;
  border-radius: 8px;
  color: white;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.bm {
  display: none;
}

aside {
  float: right;
  width: 20%;
  border: dotted 1px #c9c9c9;
  margin: 30px 10px 10px 10px;
  padding: 5px 5px;
  align-items: center;
}

.social-btn-group {
  margin: 0 16px;
  display: block;
}

nav a {
  padding: 5px;
}

.contents {
  float: left;
  width: 75%;
}

.beforef {
  clear: both;
}

.social-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-decoration: none;
}

#wmcs {
  background: rgba(144, 241, 239, 0.7);
  color: #333;
  height: 40px;
  text-align: center;
}

#mymail {
  background: rgba(255, 239, 159, 0.7);
  color: #333;
  height: 40px;
  text-align: center;
}

#mygithub {
  background: rgba(123, 241, 168, 0.7);
  color: #333;
  height: 40px;
  text-align: center;
}


@media screen and (max-width: 600px) {
  nav {
    display: block;
    flex-direction: column;
  }

  body {
    display: block !important;
  }

  header {
    border-bottom: none;
    padding-bottom: 0;
  }

  aside {
    float: none;
    display: block;
    width: 100%;
    margin: 0 auto 3px;
    padding: 0 0 10px 0;
    border: none;
    border-bottom: 1px solid #c9c9c9;
  }

  .contents {
    float: none;
    width: 100%;
  }

  .headp {
    display: block;
    padding: 20px 20px 0 20px;
  }

  .pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ccc;
  }

  .bm {
    display: block;
  }

  .bm::before {
    border-bottom: 1px solid #c9c9c9;
    padding-bottom: 18px;
    margin-bottom: 24px;
    content: "";
    display: block;
  }
}